*{

  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;




}





body{
  background-image: url(kame.png);
  background-size: cover;
  font-family: sans-serif;

}



.social-media{

  float: right;
  width: 300px;
  margin-top: 10px;
}




.social-media a{


    display: inline-flex;
    color: #ffffff;
    height: 48px;
    width: 48px;
    background-color: #000000;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 6px;
    transition: transform 0.4s;


}

.social-media a:hover{

transform: scale(1.3);

}

.social-media a.facebook{

background-color: #3c70a4;

}

.social-media a.instagram{

background-color: #bb7171;


}

.social-media a.youtube{

background-color: #c72c41;

}


.logo{
  position: absolute;
  top: 0;
  left: 0;
  width: 700px;


}

.logo_moviles{

  display: none;
}


nav{
  position: absolute;
  top: 20%;
  left: 15%;
  background: #0082e6;
  height: 80px;
  width: 70%;
  opacity: 95%;

}



nav ul{

  text-align: center;
  margin-right: 20px;
}

nav ul li{

  display: inline-block; /*Pone los elentos en line horizontal*/
  line-height: 80px;
  margin: 0 5px;


}

nav ul li a{

  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;


}

a.active, .curso_boton:hover, .blog_boton:hover{

    background: #1b9bff;
    transition: .5s;


}

.checkbtn{

  font-size: 30px;
  color: white;
  float: right;
  line-height: 70px;
  margin-right: 40px;
  cursor: pointer;
  display: none;

}

#check{

  display: none;
}

.banner{

  position: absolute;
  top: 28.5%;
  left: 15%;
  background-color:  #111e6c;



  height: 500px;
  width: 70%;

  opacity: 90%;

}

.banner h1{

  padding: 70px;
  left: 100px;
  color: white;

}

.boton_uno{


  width: 8%;
  height: 4.2%;
  position: absolute;
  top: 50%;
  left: 20%;
  background: white;
  border-radius: 24px;



}

.boton_uno h1{

  color: black;
  line-height: 4px;
  text-align: center;

}

.boton_uno:hover{

  background-color: rgb(236, 229, 55);

}

.primerSliderShow{
  width: 70%;
  position: absolute;
  top: 765px;

  left: 15%;



}



.primerSlider li,ul{

  width: 100%;


}



.primerSlider img{

  width: 100%;

}




.pagination{

  position: absolute;
  top: 90%;
  width: 90%;


  display: flex;
  justify-content: center;

}


.pagination li{

    font-size: 20px;
    margin: 2px;
    padding: 5px;
    color: #858585;
    cursor: pointer;

}


.left, .right{
  position: absolute;
  top: 0;

  height: 100%;

  display: flex;
  align-items: center;

  color: #fff;
  font-size: 35px;
  cursor: pointer;
  z-index: 2;


}

.left{

  left: 60px;

}

.right{

  right: 20px;
}

.informacion-sobremi{


  position: absolute;

  top: 129.7%;
  left: 15%;
  background-color: white;

  height: 600px;
  width: 70%;
  opacity: 90%;




}



.informacion-sobremi h1{
  padding: 5px;
  text-align: center;
}

.informacion-sobremi p{


    position: absolute;
    left: 1000px;
    padding: 20px;
    font-size: 20px;




}

.informacion-youtube{


  position: relative;
  top: 1815px;
  left: 15%;


  background-color: #252b2b;
  width: 70%;
  height: 100px;
  opacity: 90%;


}

.informacion-youtube p{

  color: white;
  font-size: 30px;
  height: 100%;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;

}


                                  /*Segundo slider*/


  .slider-youtube{

    background-color: #252b2b;

    position: absolute;
    top: 204.4%;
    left: 15%;
    width: 70%;
    opacity: 90%;

  }


.segundo-slider{


  width: 90%;
  margin: auto;
  list-style: none;
  padding: 20px;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;





}


.segundo-slider  img{

  margin-left: 10px;
  width: 250px;
  height: 200px;
  padding: 10px;
  cursor: pointer;
}

footer{

  position: absolute;
  top: 232.5%;
  left: 15%;
  background-color: white;
  width: 70%;
  height: 100px;
  opacity: 90%;
  text-align: center;



}


/*Pagina cursos*/


.mensaje-cursos, .mensaje-contacto{
position: absolute;
top: 28.5%;
left: 15%;
background-color: #111e6c;
height: 150px;
width: 70%;
opacity: 90%;
}

.mensaje-cursos h1, .mensaje-contacto h1{

color: white;

text-align: center;
line-height: 100px;


}



.cursos{

  position: absolute;
  top: 44.4%;
  left: 15%;
  background-color: white;
  margin: 0;
  width: 70%;
  height: 1000px;
  opacity: 100%;

}


.fondo-cursos{


width: 90%;
margin: auto;
list-style: none;
padding: 20px;
box-sizing: border-box;

display: flex;
flex-wrap: wrap;



}


.fondo-cursos  img{


width: 338px;
height: 200px;
padding: 5px;
cursor: pointer;
}




.elementos-lista{



  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  background-color: #111e6c;


  margin: 5px;
  height: 350px;
  width: 350px;





}

  .texto-cursos{

    position: relative;
    top: 0;
    left: 10px;
    color: white;



  }

  .elementos-lista h1{

    cursor: pointer;
  }

  .texto-cursos p{

    position: relative;

    top: -5px;
    color: rgb(172, 172, 172);

  }

  .texto-cursos a{
    text-decoration: none;
    color: white;
  }


/*Curso individual*/
.banner_curso_individual, .banner_curso_grupal{

  position: absolute;
  top: 28%;
  left: 15%;
  background-color:  #111e6c;

  height: 500px;
  width: 70%;

  opacity: 97%;

}
.banner_curso_individual h1{

  position: absolute;
  top: 0;
  left: 10%;
  color: white;
  font-size: 70px;

}
.banner_curso_individual p{

  position: absolute;
  top: 28%;
  left: 13%;
  color: white;
  font-size: 25px;


}
.info_curso_individual{

  position: absolute;
  top: 53%;
  line-height: 40px;
  left: 25%;
  color: white;
  font-size: 18px;


}


.boton_adquirir_curso_individual{

  position: absolute;
  top: 60%;
  left: 25%;
  text-align: center;
  background: white;
  margin-top: 50px;
  width: 15%;
  color: black;
  border: solid;
  border-radius: 24px;
  font-size: 10px;
  cursor: pointer;
}


.boton_adquirir_curso_individual:hover{

  background-color: black;
  color:white;

}


.box_curso_individual{

  position: absolute;
  top: 81.0%;
  left: 15%;
  background-color:  white;

  height: 800px;
  width: 70%;

  opacity: 97%;



}

.box_curso_individual h1{

  text-align: center;


}

.box_curso_individual p{


  text-align: center;
  font-size: 22px;


}

.box_curso_individual h2{

  text-align: right;
  margin-top: 30px;
  margin-right: 30px;
  font-size: 35px;

}

.box_curso_individual h3{

  text-align: center;
  margin-top: 60px;
  margin-left: 150px;
  font-size: 30px;
  text-decoration: underline;
}

.temario_info_curso_individual p{
  margin-top: 30px;
  margin-right: 30px;
  text-align: right;
  font-size: 20px;
}

.temario_individual{

  position: absolute;
  margin-top: 15px;
  width: 40%;
  left: 52%;
  text-align: left;
  line-height: 25px;
  font-size: 20px;


}


.valor_curso_individual{

  position: absolute;
  top: 166%;
  left: 15%;
  background-color:  #111e6c;

  height: 500px;
  width: 70%;

  opacity: 97%;



}


.valor_curso_individual h1{

  text-align: center;
  color: white;
}

.lista_lugares_curso_individual{

  position: absolute;
  margin-top: 15px;
  width: 40%;
  left: 30%;
  text-align: left;
  line-height: 25px;
  font-size: 20px;
  color: white;

}

.valor_curso_individual p{


  text-align: center;
  font-size: 20px;
  color: gray;


}

/*Curso grupal*/

.banner_curso_grupal h1{

  position: absolute;
  top: 0;
  left: 10%;
  color: white;
  font-size: 70px;

}
.banner_curso_grupal p{

  position: absolute;
  top: 28%;
  left: 13%;
  color: white;
  font-size: 25px;


}
.info_curso_grupal{

  position: absolute;
  top: 50%;
  line-height: 40px;
  left: 25%;
  color: white;
  font-size: 18px;


}


.boton_adquirir_curso_grupal{

  position: absolute;
  top: 60%;
  left: 25%;
  text-align: center;
  background: white;
  margin-top: 50px;
  width: 15%;
  color: black;
  border: solid;
  border-radius: 24px;
  font-size: 10px;
  cursor: pointer;
}


.boton_adquirir_curso_grupal:hover{

  background-color: black;
  color:white;

}


.box_curso_grupal{

  position: absolute;
  top: 81.0%;
  left: 15%;
  background-color:  white;

  height: 800px;
  width: 70%;

  opacity: 97%;



}

.box_curso_grupal h1{

  text-align: center;


}

.box_curso_grupal p{


  text-align: center;
  font-size: 22px;


}

.box_curso_grupal h2{

  text-align: right;
  margin-top: 30px;
  margin-right: 30px;
  font-size: 35px;

}

.box_curso_grupal h3{

  text-align: center;
  margin-top: 60px;
  margin-left: 150px;
  font-size: 30px;
  text-decoration: underline;
}

.temario_info_curso_grupal p{
  margin-top: 30px;
  margin-right: 30px;
  text-align: right;
  font-size: 20px;
}

.temario_grupal{

  position: absolute;
  margin-top: 15px;
  width: 40%;
  left: 52%;
  text-align: left;
  line-height: 25px;
  font-size: 20px;


}


.valor_curso_grupal{

  position: absolute;
  top: 166%;
  left: 15%;
  background-color:  #111e6c;

  height: 500px;
  width: 70%;

  opacity: 97%;



}


.valor_curso_grupal h1{

  text-align: center;
  color: white;
}

.lista_lugares_curso_grupal{

  position: absolute;
  margin-top: 15px;
  width: 40%;
  left: 30%;
  text-align: left;
  line-height: 25px;
  font-size: 20px;
  color: white;

}

.valor_curso_grupal p{


  text-align: center;
  font-size: 20px;
  color: gray;


}

/*Formulario consultas*/

form{
  position: absolute;
  top: 44%;
  left: 15%;
  width: 70%;
  height: auto;
  background: white;


}

#nombre{

  width: 100%;
  height: 30px;

}

#email{

  width: 100%;
  height: 30px;
  margin-top: 5px;

}

#textarea{

  width: 100%;
  margin: auto;
  margin-top: 5px;

}

#button{

  width: 100%;
  height: 36px;


}
